.res {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  padding: 2em 1em;
  justify-content: center;
}
.more-loder-holder {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 1em;
  span {
    width: 70%;
    max-width: 150px;
    height: 50px;
    background-color: transparent;
    border: 2px solid $main-color;
    color: $main-color;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.5s ease;
    &:hover {
      background-color: $main-color;
      color: $white;
    }
  }
}

.gotop {
  position: fixed;
  display: none;
  width: fit-content;
  height: fit-content;
  z-index: 9;
  justify-content: end;
  align-items: flex-end;
  right: 0;
  bottom: 0;
  padding: 1.5em 1.5em;
  div {
    position: relative;
    display: flex;
    width: fit-content;
    height: fit-content;
    cursor: pointer;
    span {
      display: inline-block;
      width: 5px;
      height: 50px;
      background-color: $main-color;
      border-radius: 10px;
    }
    #t1,
    #t2 {
      height: 30px;
    }
    #t1 {
      transform: rotate(30deg) translate(5px, -3px);
      transform-origin: top;
    }
    #t2 {
      transform: rotate(-30deg) translate(-5px, -3px);
      transform-origin: top;
    }
  }
}
